html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 0;
    height: 100vh;
}

body * {
    /* border: 1px solid black; */
}

body {
    padding: 16px;
    background-color: lightgray;

    display: grid;
    place-items: center;
}

table {
    border: 1px solid black;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

tr {
    display: grid;
    grid-template-columns: 8fr 4fr 1fr 1fr;
}

th,
td {
    padding: 0.5rem;
    text-align: start;
}

tbody tr:nth-child(2n) {
    background-color: gray;
}

thead,
tfoot {
    background-color: cornflowerblue;
    /* text-align: center; */
}
