html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    height: 100vh;
}

body * {
    border: 1px solid black;
}

body{
    background-color: lightgray;
    display: grid;
    place-content: center;
}

table * {
    padding: 1rem;
}

tfoot th {
    text-align: center;
}

tfoot td {
    text-align: right;
}